body{
	margin: 0px;
	background-color: #ec3e79;
}

#left{
	position: absolute;
	height: 653px;
	width: 50%;
	background-color: white;
	text-align: center;
}

#right{
	width: 50%;
	height: 653px;
	position: absolute;
	margin-left: 50%;
	text-align: center;
}

p{
	margin: 0px;
}


#tri{
	width: 30px;
	height: 50px;
	position: absolute;
	margin-left: 49%;
	margin-top: 6%;
}

#qust_one{
	font-size: 25px;
	margin-top: 10%;
	margin-bottom: 3%;
	font-weight: bold;
	color: #e91e63;
}

#img_first{
	margin-top: 8%;
	width: 250px;
	height: 250px;
	border: 2px #e91e63 solid;
	-webkit-border-radius: 200px;
}

#quse_one_content{
	margin-top: 8%;
	font-size: 30px;
	font-weight: bold;
	color: black;
}

#select_content{
	font-size: 25px;
	margin-top: 10%;
	padding-bottom: 3%;
	font-weight: bold;
	color: white;
}

#choice{
	margin-top: 5%;
	font-size: 25px;
	color: white;
}

button{
	text-align: left;
	background:#ec3e79;
	color:#fff;
	border:none;
	position:relative;
	height: 80px;
	width: 70%;
	font-size:1em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
	border-radius: 5px;
}
button:hover{
	background:#fff;
	color: #ec1f64;
}
button:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #ec1f64;
	transition:400ms ease all;
}
button:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
button:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
}

#hr_1{
	margin-top: 0px;
	margin-bottom: 5%;
}

#answer_hr{
	margin-top: 1%;
	margin-bottom: 5%;
}

#circle{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10%;
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.c_1{
	background-color: #e91e63;
}

.c_2, .c_3, .c_4, .c_5{
	background-color: #e1e1e1;
}

span{
	margin-right: 35%;
	margin-left: 5%;
}