<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#000000; " ><br>AMANCIO ORTEGA<br> GAONA</div>
	<hr width="270px"><br>
	<div class="name1">ZARA CEO</div>
	<div class="about2"> <br> </div>
	<div class="about" > <br><br><br>  오르테가는 학교를 14살에 그만두고 스스로 디자인한 옷을 만들기 시작했다. 1975년 그가 창업한 의류 유통회사가 바로 ‘자라’다. 이제 세계 어디서나 ‘자라’ 매장을 찾아볼 수 있다. 스페인 최고 부호인 그의 재산은 662억 달러이다. <br><br><br><br><br> </div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="color:#dcdcdc; background-color:#000000; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Amancio Ortega Gaona</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/amancio.png" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/' ">TAKE THE TEST</button>

</div>



</body>
</html>