<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#69A8AA; " ><br>BILL GATES</div>
	<hr width="270px"><br>
	<div class="name1">MICROSOFT 창립자</div><br><br>
	<div class="about" >"하버드 자퇴, 변화 속 흐름 놓치기 싫었다."<br><br><br><br><br>  
	1975년 MITS Altair 8800이라는 컴퓨터 모델이 시장에 등장했고, 빌 게이츠는 새로운 기회를 포착하고 컴퓨터 제조를 위한 소프트웨어를 개발한다. 그 해에 고등학교 친구인 폴 알렌과 함께 마이크로 소프트를 창업하고 곧 회사에 집중하기 위해 그는 하버드를 중퇴하기로 결정한다. <br><br><br><br></div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="background-color:#69A8AA; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Bill Gates</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/bill.jpg" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/' " >TAKE THE TEST</button>

</div>



</body>
</html>