<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#46B8FF; " ><br>MICHAEL SAUL DELL</div>
	<hr width="270px"><br>
	<div class="name1">DELL CEO</div><br><br>
	<div class="about2">"나는 스스로 자퇴서를 냈다."<br> "원하지 않는 교수의 원하지 않고 지루하기 짝이 없는 수업을 듣지 않고 싶었다."</div>
	<div class="about" > <br><br><br>  1984년 19살의 의예과(pre-med) 학생이었던 마이클 델은 텍사스 대학을 중퇴하고 단 1,000달러로 ‘PC 리미티드(PCs Limited)’를 세워, PC를 업그레이드해서 전화로 판매하는 사업을 시작했다. 28년 후, 마이클 델은 159억 달러의 자산을 가진 억만 장자가 되었다. <br><br><br><br><br> </div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="background-color:#46B8FF; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Michael Saul Dell</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/dell.jpg" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/' ">TAKE THE TEST</button>

</div>



</body>
</html>