<!DOCTYPE html>
<html lang="en">
<head>
           
   
    <title>Document</title>
    <style>
        svg {
            height: 100%;
            width: 100%;
                                                                                                                                       
        }
        g {
            height: 100%;
            width: 100%;
        }
        img {
            height: 40 %;
            width: 24%;
            
        }
        h3{
            
        }
    </style>
</head>
<body>
   <a href="/infos/stevejobs"><img src="/assets/steve_.png" alt="image"></a>
   <a href="/infos/billgates"><img src="/assets/bill_.png" ></a>
   <a href="/infos/paul"><img src="/assets/paul_.png" ></a>
   <a href="/infos/mark"><img src="/assets/mark_.png" ></a>
   <a href="/infos/lauren"><img src="/assets/lauren_.png" ></a>
   <a href="/infos/dell"><img src="/assets/dell_.png" ></a>
   <a href="/infos/amancio"><img src="/assets/amancio_.png" ></a>
   <a href="/infos/oracle"><img src="/assets/larry_.png" > </a>
</body>
    
</html>