<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#1E3269; " ><br>RALPH LAUREN</div>
	<hr width="270px"><br>
	<div class="name1">POLO RALPH LAUREN CEO</div><br><br>
	<div class="about2"> <br> </div>
	<div class="about" > <br><br>  수백 억 대 매출을 기록하는 패션 회사의 수장 랄프 로렌은 1960년대 바루크 뉴욕시립대학교를 2년 다니다가 중퇴하였다. 1967년 그는  '폴로'라는 브랜드 아래 남성 넥타이를 디자인하기 시작하였고 차후에 남성복 라인 전체를 디자인하며 사업 영역을 넓혀 나갔다. <br><br><br><br><br><br><br> </div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="background-color:#1E3269; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Ralph Lauren</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/ralph.jpg" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/' ">TAKE THE TEST</button>

</div>



</body>
</html>