<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#3C5898; " ><br>MARK ELLIOT<br>ZUCKERBERG</div>
	<hr width="270px"><br>
	<div class="name1">FACEBOOK 창립자</div><br>
	<div class="about" ><br><br> 영화 소셜 네트워크로 잘 알려진 바와 같이 마크 주커버그는 2004년 하버드 대학교를 중퇴하고, 페이스북에 전념했다. 그는 하버드에서 심리학과 컴퓨터 사이언스를 전공했으며, 2학년 때 페이스북을 개발, 런칭했다. 8년 후 페이스북은 전 세계 9억 명의 사용자를 확보한 세계 최대 소셜 네트워크로 성장했다. 저커버그의 자산은 280억 달러로 알려져 있다. <br><br><br><br><br></div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="background-color:#3C5898; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Mark Elliot Zuckerberg</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/mark.jpg" width="200px" height="280px"><br><br>


	
	 <button onclick="location.href = '../choice/first.html/' ">TAKE THE TEST</button>

</div>



</body>
</html>