<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#B90000; " ><br>LAWRENCE JOSEPH ELLISON</div>
	<hr width="270px"><br>
	<div class="name1">ORACLE CEO</div>
	<div class="about2"> <br> </div>
	<div class="about" > <br> ‘실리콘밸리의 악동’이라 불릴 만큼 사치스런 생활과 기행으로 잘 알려져 있는 오라클 창업자 래리 엘리슨은 우리에게 영화 <아이언맨>의 주인공인 토니 클라크의 실제 모델이자 <아이언맨 2>에 직접 카메오로 출연하기도 한 인물로 더 유명하다.  20살 때 시카고대 컴퓨터공학과를 중퇴했다. 대학을 자퇴하고 인터넷과 데이터베이스를 접목하는 혁신을 주도하며 기업을 키웠다. <br><br><br><br><br> </div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="color:#000000; background-color:#B90000; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Larry Ellison</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/larry.png" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/'">TAKE THE TEST</button>

</div>



</body>
</html>