<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body >
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#5050FF; " ><br>PAUL GARDNER ALLEN</div>
	<hr width="270px"><br>
	<div class="name1">MICROSOFT 창립자</div><br><br>
	<div class="about" ><br><br><br> 폴 앨런은 미국 워싱턴 주 시애틀 출생으로 워싱턴 주립 대학교에 입학했으나, 개인용 컴퓨터에서 동작하는 상업용 소프트웨어 개발의 꿈을 이루기 위해 2년 만에 중퇴하였다. 이후 친구인 빌 게이츠와 함께 마이크로소프트를 설립하였다. <br><br><br><br><br><br><br></div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box' style="background-color:#5050FF; " >
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>

	<div class='title'>Paul Gardner Allen</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/allen.jpg" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/' ">TAKE THE TEST</button>

</div>



</body>
</html>