<!DOCTYPE html>
<html>
<head>
	<title>자퇴각</title>
	
<link rel="stylesheet" type="text/css" href="/assets/people.css">


</head>
<body>
   
<div class='left-box'>
	<a href="/infos/greats"><img class='back' src="/assets/back.png"></a><br>
	<div class="name" style="color:#81c684; " ><br>STEVE JOBS</div>
	<hr width="270px"><br>
	<div class="name1">APPLE 창립자</div><br><br>
	<div class="about2">"대학을 자퇴한 것이 내 인생에서 가장 잘한 결정의 하나였다."</div><div class="about" ><br><br><br>리드 대학교(Reed Collage)를 중퇴한 스티브 잡스와 캘리포니아 대학교 버클리 캠퍼스(University of California, Berkeley)를 중퇴한 스티브 워즈니악이 만나 1976년 애플을 창업했다. 둘이 만난 것은 잡스가 여름에 워즈니악이 메인프레임 컴퓨터 관련 업무를 하고 있던 HP에서 일하게 되면서 만났다. 37년 후, 애플은 가치가 6,000억 달러가 넘는 회사가 되었다.  <br><br><br><br></div>
	<a href="/infos/greats"><button class="af">BACK TO GREATS</button></a>


</div>
<div class='right-box'>
	<div class="dropdown">
		<img class="menu" src="/assets/menu.png" alt="Trolltunga Norway">
  		<div class="dropdown-content">
    		<div class="desc"><a href="">&nbsp;&nbsp;자퇴각&nbsp;|&nbsp;</a><a href="">자퇴테스트&nbsp;|&nbsp;</a><a href="">자퇴위인&nbsp;|&nbsp;</a><a href="">자퇴Tip&nbsp;&nbsp;</a>
    		</div>
  		</div>
	</div>
	

	<div class='title'>Steve Jobs</div><hr width="170px"><br>
	
	<img class='crown' src="/assets/crown.png">
	<img class='s' src="/assets/steve.png" width="200px" height="280px"><br><br>


	
	    <button onclick="location.href = '../choice/first.html/' ">TAKE THE TEST</button>

</div>



</body>
</html>